$logo-red: #db3236;
$logo-green: #3cba54;
$fontSize-large: large;
$fontSize-Xlarge: x-large;
$box-top: 50%;
$box-left: 50%;
$color-white: #fff;
$black-background: #000;
$box-width: 320px;

.nouser,
.loginfirst {
    color: $logo-red;
    font-size: $fontSize-large;
}

.mailnotsent,
.signinerror {
    color: $logo-red;
    font-size: $fontSize-Xlarge;
}


.mailsent {
    color: $logo-green;
    font-size: $fontSize-Xlarge;
}

h1 {
    margin: 0;
    padding: 0 0 20px;
    text-align: center;
    font-size: 22px;
}


.avatar {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    position: absolute;
    top: -50px;
    left: calc(50% - 50px);
}



/*-----------------HEADER DESIGN----------------------------*/

ul.topnav {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;

    li {
        float: left;

        a {
            display: block;
            color: white;
            text-align: center;
            padding: 14px 16px;
            text-decoration: none;
        }

        a:hover:not(.active) {
            background-color: #111;
        }

        a.active {
            background-color: #4caf50;
        }
    }
}